table {
  border-spacing: 10px;
  }
table, th, td {
  border:1px solid red;
  color:blue;
}
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
tr:hover {
  background-color: red;
 }
 
/*
background-color: #96D4D4;
  border-radius: 10px;


  -----CELL PADDING----
  th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;

  ----CELL SPACING----
  table {
  border-spacing: 30px;
  }

      ----COLSPAN----
      <th colspan="2">HTML</th>


      ----ROWSPAN----
       <th rowspan="2">CSS</th>

      ----TO GIVE COLORS FOR ALTERNATE ROWS AND COLUMNS----
         tr:nth-child(even) {
          background-color: #D6EEEE;

            tr:nth-child(even) {
            background-color: blue;
           }

               th:nth-child(even),td:nth-child(even) {
                   background-color: green;

                 tr:hover {
                   background-color: red;
                  }
          ------COLGROUP-----
          <colgroup>
            <col span="2" style="background-color: #D6EEEE">
           </colgroup>


}
}


}
}
*/

